In [2]:
from Titanic_module import *
import warnings
warnings.filterwarnings('ignore')
model=titanic_model('Model_xgboost_titanic')
df_preprocessed=model.load_and_preprocess('test.csv')
df_scaled=model.create_feature_and_scale()
model.predict()

      Probability  Predicton
892      0.096611          0
893      0.192759          0
894      0.089649          0
895      0.162649          0
896      0.401271          0
...           ...        ...
1305     0.100420          0
1306     0.979085          1
1307     0.061321          0
1308     0.116502          0
1309     0.987422          1

[418 rows x 2 columns]